[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prosecode = {editable = true,path = "."}
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-click = "*"

[packages]
markdown = "*"
ds2 = "*"
pygments = "*"
python-markdown-math = "*"
click = "*"

[requires]
python_version = "3.7"
